body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
label {
    color: aliceblue;
  }

  #title {
    background-color: #6200EE;
    padding: 20px;
    text-align: center;
    margin: 5px;
    border-radius: 0.28571429rem;
    color: aliceblue;
    }
  
  #ux {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
   
  }
  
  .ux-item {
    border-radius: 0.28571429rem;
    width: 19%;
    margin-bottom: 20px;
    background-color: #3700B3;
    text-align: center;
    flex-shrink: 0; /* Prevent items from shrinking */
    padding: 5px;
    display: flex;
    flex-direction: column;
}
  .ui.message {
    margin: 0px;
    height: 100%;
    margin: 5px;
  }

  .grid-container {
    margin: 5px;
  }

  .grid-row {
    display: flex;
    width: fit-content;
  }
  
  .grid-column {
    
    width: 30px;
    height: 30px;
    border:1px solid black;
  }

  .device-info {
    padding: 0px;
  }

  #data-output {
    background-color: #6200EE;
    padding: 20px;
    margin: 5px;
    border-radius: 0.28571429rem;
  }
  
  @media (max-width: 1100px) {
    .ux-item {
      width: 100%;
    }
  }
  